@import "tailwindcss";

:root {
  --bg: #FFF9F5;
  --card: #FFFFFF;

  --primary: #FF6B6B;     /* Coral */
  --primary-dark: #FF4D4D;

  --secondary: #4ECDC4;   /* Mint */

   --text: #1F2937; 
   --muted: #6B7280; 

  --border: #F1F5F9;

  --accent-soft: #FFE5E0;
}

body{
  margin:0;
  background: #FFF7F4;
  color: #3E302C;
  font-family: "Poppins", sans-serif;
  overflow-x:hidden;
}
html {
  scroll-behavior: smooth;
}
